<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913284073386-0k9f65i7gvqtu39uahqdfsek5luslae5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913284073386-0k9f65i7gvqtu39uahqdfsek5luslae5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913284073386-4flqpudeqb8cuo2a7pof5lqd4ga08ors.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkT00-ebtb3yBE0lXgVlnyb3ROzUhp_70</string>
	<key>GCM_SENDER_ID</key>
	<string>913284073386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.cheq.uat</string>
	<key>PROJECT_ID</key>
	<string>uat-cheqapi</string>
	<key>STORAGE_BUCKET</key>
	<string>uat-cheqapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913284073386:ios:04f3c312b700969e7f0dd3</string>
	<key>DATABASE_URL</key>
	<string>https://uat-cheqapi.firebaseio.com</string>
</dict>
</plist>