<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799482705846-l2abircp9k467a3ren9s0b6qhsoealfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799482705846-l2abircp9k467a3ren9s0b6qhsoealfh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799482705846-bpapjfunh2kkbhc3aaa0hrlqsd9vu86q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKbw2sivnoBonbTCv1kbDuD60AcRB9H0w</string>
	<key>GCM_SENDER_ID</key>
	<string>799482705846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.cheq</string>
	<key>PROJECT_ID</key>
	<string>prod-cheqapi</string>
	<key>STORAGE_BUCKET</key>
	<string>prod-cheqapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799482705846:ios:2fdd02f6f61cde95f83317</string>
	<key>DATABASE_URL</key>
	<string>https://prod-cheqapi.firebaseio.com</string>
</dict>
</plist>